{% extends "base.html.twig" %}

{% block title %}TransAmbala - transport nationale{% endblock %}
{% block body %}
    <div class="relative mt-0 bg-amber-950 w-full z-min">
        <header class="header-bg h-64 bg-cover bg-center"></header>
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center">
            <h1 class="text-white text-3xl font-bold">Rentrez à la campagne avec nous. nous sommes bien ensemble dans la voiture</h1>
        </div>
    </div>
{% endblock %}


